body{
    background: linear-gradient(rgba(74, 247, 97, 0.902), rgba(4, 186, 218, 0));
    text-align: center;
      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    margin: 0;
}

.container{
    background-color: lightyellow;
   
    max-width: 900px;
    min-height: 600px;
    border: 10px solid black;
}
h1{
    color: aqua;
}
.y{
    display: flex;
    vertical-align: auto;
    justify-content: left;
}
.p{
    padding-top: 200px;
}
.n{
    border: 2px solid black;
    width: 230px;
    height: 230px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-image: url(/img1.jpg);
    
}
.w{
    color: red;
}
.k{
    color: green;
}
.b{
    border: 2px solid black;
    width: 230px;
    height: 230px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-image: url(/img2.jpg);
    background-repeat: no-repeat;
}
.v{
    border: 2px solid black;
    width: 230px;
    height: 230px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-image: url(/marevar.jpg);
    background-repeat: no-repeat;
}
.c{
    border: 2px solid black;
    width: 230px;
    height: 230px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-image: url(/honf.jpg);
    background-repeat: no-repeat;

}
.x{
    border: 2px solid black;
    width: 230px;
    height: 230px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-image: url(/age.png);
    background-repeat: no-repeat;
}
.o{
    border: 2px solid black;
    width: 230px;
    height: 230px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-image: url(/nap.jpg);
    background-repeat: no-repeat;   
}
