body{
    background: linear-gradient(green, blue);
    text-align: center;
}

.container{
    background-color: lightyellow;
   
    max-width: 1000px;
    margin: auto;
    border: 10px solid black;
}
